<h1><%= @vote.name %></h1>

<% @vote.questions.each do |q| %>
 <li>
  <span class="votecount"><%= q.count %></span>
  <span><%= q.text %></span>
 </li>
<% end %>

<p class="votecount">Total no. of votes: <%= @vote.total_votes  %></p>
