<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Lunch Vote -O- Matic</title>
	<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  	<!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->	
	<link rel='stylesheet' href='/css/style.css' type='text/css'>
</head>
<body>
	<div id="content">
	<%= yield %>
	<br /><br /><br />
	<p class="footer">Made by <a href="http://robgough.net">Rob Gough</a></p>
	</div>
</body>	